<div class="container">
  <dt-info-group>
    <dt-info-group-title>
      <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
        <ktb-http-loading-spinner filterBy="/api/project"></ktb-http-loading-spinner>
        <p><span [textContent]="(projects | async)?.length" *ktbHideHttpLoading="'/api/project'"></span> Projects</p>
      </div>
    </dt-info-group-title>
  </dt-info-group>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <dt-tile *ngFor="let project of projects | async" [routerLink]="['/project', project.projectName]"
             fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <dt-tile-title [textContent]="project.projectName"></dt-tile-title>
      <dt-tile-subtitle><span [textContent]="project.stages.length"></span> Stages, <span [textContent]="project.services.length"></span> Services</dt-tile-subtitle>
      <dt-tag-list aria-label="stages">
        <dt-tag *ngFor="let stage of project.stages" [textContent]="stage.stageName"></dt-tag>
      </dt-tag-list>
    </dt-tile>
  </div>
</div>
